Cancelar Reserva (1).json
{
  "name": "Cancelar Reserva",
  "nodes": [
    {
      "parameters": {
        "path": "cancelar-reserva",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "7be599b9-200e-4b88-9eae-22672c78bcf6",
      "name": "Webhook - Cancelar Reserva",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        176,
        112
      ],
      "webhookId": "0ccdecf6-cdc1-4c5d-b62e-1c9d21a6cf23"
    },
    {
      "parameters": {
        "functionCode": "const q = $json.query || {};\nconst accion = (q.accion || '').toLowerCase();\n\nif (accion !== 'cancelar') {\n  return [{ json: { ok: false, reason: 'Acción inválida' } }];\n}\n\nconst reservationId = q.reservationId || '';\nconst eventId = q.eventId || '';\nconst email = q.email || '';\n\nif (!reservationId) {\n  return [{ json: { ok: false, reason: 'reservationId requerido' } }];\n}\n\nreturn [{\n  json: {\n    ok: true,\n    reservationId,\n    eventId,\n    email\n  }\n}];"
      },
      "id": "71dffb3b-ffe6-4cbd-9a47-067e208406bc",
      "name": "Validar Datos",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        368,
        112
      ]
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "={{ $json.ID_Sala }}",
          "mode": "id"
        },
        "eventId": "={{ $json.Event_ID }}",
        "options": {}
      },
      "id": "520cc53c-78a6-48b4-944e-d8c93bb2d74a",
      "name": "Eliminar Evento (Google Calendar)",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1,
      "position": [
        752,
        0
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "HkD2zbfwocAwJLh0",
          "name": "Google Calendar account 5"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "0da59e6d-4922-4601-9c12-8477b02b7aba",
      "name": "Responder al Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1776,
        96
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1n66HEZRlQ2SeqWs0UVmgNoBYkN7gZvjlFvJYdpwwDlw",
          "mode": "list",
          "cachedResultName": "Registro Solicitud",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1n66HEZRlQ2SeqWs0UVmgNoBYkN7gZvjlFvJYdpwwDlw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1534669159,
          "mode": "list",
          "cachedResultName": "Registro",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1n66HEZRlQ2SeqWs0UVmgNoBYkN7gZvjlFvJYdpwwDlw/edit#gid=1534669159"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "ID_Reserva",
              "lookupValue": "={{ $json.reservationId }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        528,
        112
      ],
      "id": "9bd05958-a8e9-4e54-86b3-2f9fff70cfac",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "dottmIoOg9YIObtI",
          "name": "Google Sheets account 4"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1n66HEZRlQ2SeqWs0UVmgNoBYkN7gZvjlFvJYdpwwDlw",
          "mode": "list",
          "cachedResultName": "Registro Solicitud",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1n66HEZRlQ2SeqWs0UVmgNoBYkN7gZvjlFvJYdpwwDlw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1534669159,
          "mode": "list",
          "cachedResultName": "Registro",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1n66HEZRlQ2SeqWs0UVmgNoBYkN7gZvjlFvJYdpwwDlw/edit#gid=1534669159"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID_Reserva": "={{ $json.ID_Reserva }}",
            "Estado": "Cancelada",
            "Sala asignada": "={{ $json[\"Sala asignada\"] }}",
            "Nombre": "={{ $json.Nombre }}",
            "Correo": "={{ $json.Correo }}",
            "Area/Departamento": "={{ $json[\"Area/Departamento\"] }}",
            "Fecha": "={{ $json.Fecha }}",
            "horaInicio": "={{ $json.horaInicio }}",
            "horaTermino": "={{ $json.horaTermino }}",
            "N° Participantes": "={{ $json[\"N° Participantes\"] }}"
          },
          "matchingColumns": [
            "ID_Reserva"
          ],
          "schema": [
            {
              "id": "Nombre",
              "displayName": "Nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Correo",
              "displayName": "Correo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Area/Departamento",
              "displayName": "Area/Departamento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Fecha",
              "displayName": "Fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "horaInicio",
              "displayName": "horaInicio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "horaTermino",
              "displayName": "horaTermino",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "N° Participantes",
              "displayName": "N° Participantes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ID_Reserva",
              "displayName": "ID_Reserva",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Estado",
              "displayName": "Estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Sala asignada",
              "displayName": "Sala asignada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ID_Sala",
              "displayName": "ID_Sala",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Event_ID",
              "displayName": "Event_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1168,
        96
      ],
      "id": "c5f4b45b-001a-4eb3-b7a9-2bb761486443",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "dottmIoOg9YIObtI",
          "name": "Google Sheets account 4"
        }
      }
    },
    {
      "parameters": {
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        752,
        160
      ],
      "id": "4e13baf3-f800-4c40-863c-4554970b7211",
      "name": "Edit Fields"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        960,
        96
      ],
      "id": "ef8e9ed1-cd15-44ec-ae38-b4b07c7b398a",
      "name": "Merge"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.Correo }}",
        "subject": "=❌ Reserva cancelada — {{ $json[\"Sala asignada\"] }} || ({{ $json.Fecha }})",
        "message": "=<!doctype html>\n<html lang=\"es\">\n  <head>\n    <meta charset=\"utf-8\">\n    <meta name=\"x-apple-disable-message-reformatting\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n    <title>Reserva cancelada</title>\n  </head>\n  <body style=\"margin:0;padding:0;background:#FDFCF7;\">\n    <!-- Wrapper -->\n    <table role=\"presentation\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"100%\" style=\"background:#FDFCF7;\">\n      <tr>\n        <td align=\"center\" style=\"padding:32px 16px;\">\n\n          <!-- Card -->\n          <table role=\"presentation\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"100%\" style=\"max-width:640px;background:#ffffff;border-radius:16px;overflow:hidden;box-shadow:0 10px 30px rgba(2,6,23,.25);\">\n            <!-- Header -->\n            <tr>\n              <td style=\"background:#ef4444; background-image:linear-gradient(135deg,#ef4444 0%,#b91c1c 100%);padding:28px 28px 24px 28px;\">\n                <table role=\"presentation\" width=\"100%\">\n                  <tr>\n                    <td style=\"font-family:Arial,Helvetica,sans-serif;color:#fff;font-size:24px;line-height:1.2;font-weight:800;letter-spacing:.2px;\">\n                      ❌ Reserva cancelada\n                    </td>\n                    <td align=\"right\" style=\"white-space:nowrap;\">\n                      <span style=\"display:inline-block;background:#ffffff22;border:1px solid #ffffff55;color:#fff;font-family:Arial,Helvetica,sans-serif;font-size:12px;font-weight:700;padding:6px 10px;border-radius:999px;text-transform:uppercase;letter-spacing:.6px;\">\n                        Estado: Cancelada\n                      </span>\n                    </td>\n                  </tr>\n                </table>\n                <div style=\"font-family:Arial,Helvetica,sans-serif;color:#ffe4e6;font-size:14px;margin-top:4px;\">\n                  Hola <strong>{{$json[\"Nombre\"] || \"Invitado/a\"}}</strong>, tu reserva se canceló exitosamente.\n                </div>\n              </td>\n            </tr>\n\n            <!-- Body -->\n            <tr>\n              <td style=\"padding:24px 24px 8px 24px;\">\n                <!-- Summary Bar -->\n                <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"border-collapse:separate;border-spacing:0 12px;\">\n                  <tr>\n                    <td style=\"background:#f8fafc;border:1px solid #e2e8f0;border-radius:12px;padding:16px;\">\n                      <table role=\"presentation\" width=\"100%\">\n                        <tr>\n                          <td style=\"font-family:Arial,Helvetica,sans-serif;font-size:14px;color:#334155;\">\n                            <div style=\"font-size:12px;color:#64748b;text-transform:uppercase;letter-spacing:.4px;\">Sala</div>\n                            <div style=\"font-size:16px;font-weight:700;color:#0f172a;\">{{$json[\"Sala asignada\"] || \"-\"}}</div>\n                          </td>\n                          <td style=\"font-family:Arial,Helvetica,sans-serif;font-size:14px;color:#334155;\" align=\"center\">\n                            <div style=\"font-size:12px;color:#64748b;text-transform:uppercase;letter-spacing:.4px;\">Fecha</div>\n                            <div style=\"font-size:16px;font-weight:700;color:#0f172a;\">{{$json[\"Fecha\"] || \"-\"}}</div>\n                          </td>\n                          <td style=\"font-family:Arial,Helvetica,sans-serif;font-size:14px;color:#334155;\" align=\"right\">\n                            <div style=\"font-size:12px;color:#64748b;text-transform:uppercase;letter-spacing:.4px;\">Horario</div>\n                            <div style=\"font-size:16px;font-weight:700;color:#0f172a;\">\n                              {{$json[\"horaInicio\"] || \"-\"}} – {{$json[\"horaTermino\"] || \"-\"}}\n                            </div>\n                          </td>\n                        </tr>\n                      </table>\n                    </td>\n                  </tr>\n                </table>\n\n                <!-- Details Grid -->\n                <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin-top:8px;\">\n                  <!-- row 1 -->\n                  <tr>\n                    <td width=\"50%\" valign=\"top\" style=\"padding:8px;\">\n                      <table role=\"presentation\" width=\"100%\" style=\"background:#ffffff;border:1px solid #e5e7eb;border-radius:12px;\">\n                        <tr>\n                          <td style=\"padding:14px 16px;\">\n                            <div style=\"font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#6b7280;text-transform:uppercase;letter-spacing:.4px;\">Área / Departamento</div>\n                            <div style=\"font-family:Arial,Helvetica,sans-serif;font-size:15px;color:#111827;font-weight:700;margin-top:4px;\">\n                              {{$json[\"Area/Departamento\"] || \"-\"}}\n                            </div>\n                          </td>\n                        </tr>\n                      </table>\n                    </td>\n                    <td width=\"50%\" valign=\"top\" style=\"padding:8px;\">\n                      <table role=\"presentation\" width=\"100%\" style=\"background:#ffffff;border:1px solid #e5e7eb;border-radius:12px;\">\n                        <tr>\n                          <td style=\"padding:14px 16px;\">\n                            <div style=\"font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#6b7280;text-transform:uppercase;letter-spacing:.4px;\">Participantes</div>\n                            <div style=\"font-family:Arial,Helvetica,sans-serif;font-size:15px;color:#111827;font-weight:700;margin-top:4px;\">\n                              {{$json[\"N° Participantes\"] || 0}}\n                            </div>\n                          </td>\n                        </tr>\n                      </table>\n                    </td>\n                  </tr>\n                  <!-- row 2 -->\n                  <tr>\n                    <td width=\"50%\" valign=\"top\" style=\"padding:8px;\">\n                      <table role=\"presentation\" width=\"100%\" style=\"background:#ffffff;border:1px solid #e5e7eb;border-radius:12px;\">\n                        <tr>\n                          <td style=\"padding:14px 16px;\">\n                            <div style=\"font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#6b7280;text-transform:uppercase;letter-spacing:.4px;\">Solicitante</div>\n                            <div style=\"font-family:Arial,Helvetica,sans-serif;font-size:15px;color:#111827;font-weight:700;margin-top:4px;\">\n                              {{$json[\"Nombre\"] || \"-\"}}\n                            </div>\n                            <div style=\"font-family:Arial,Helvetica,sans-serif;font-size:13px;color:#374151;margin-top:2px;\">\n                              {{$json[\"Correo\"] || \"-\"}}\n                            </div>\n                          </td>\n                        </tr>\n                      </table>\n                    </td>\n                    <td width=\"50%\" valign=\"top\" style=\"padding:8px;\">\n                      <table role=\"presentation\" width=\"100%\" style=\"background:#ffffff;border:1px solid #e5e7eb;border-radius:12px;\">\n                        <tr>\n                          <td style=\"padding:14px 16px;\">\n                            <div style=\"font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#6b7280;text-transform:uppercase;letter-spacing:.4px;\">ID de Reserva</div>\n                            <div style=\"font-family:Arial,Helvetica,sans-serif;font-size:13px;color:#111827;font-weight:700;margin-top:4px;word-break:break-all;\">\n                              {{$json[\"ID_Reserva\"] || \"-\"}}\n                            </div>\n                          </td>\n                        </tr>\n                      </table>\n                    </td>\n                  </tr>\n                </table>\n\n                <!-- Info Box -->\n                <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin-top:16px;\">\n                  <tr>\n                    <td style=\"background:#fef2f2;border:1px solid #fecaca;border-radius:12px;padding:14px;\">\n                      <div style=\"font-family:Arial,Helvetica,sans-serif;color:#991b1b;font-size:14px;\">\n                        La sala ha sido liberada para otros usuarios. Si necesitas **reagendar**, crea una nueva solicitud desde el sistema.\n                      </div>\n                    </td>\n                  </tr>\n                </table>\n\n                <!-- Divider -->\n                <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin-top:20px;\">\n                  <tr>\n                    <td style=\"border-top:1px dashed #e5e7eb;height:1px;line-height:1px;font-size:0;\">&nbsp;</td>\n                  </tr>\n                </table>\n\n                <!-- Footer text -->\n                <div style=\"font-family:Arial,Helvetica,sans-serif;color:#6b7280;font-size:12px;margin-top:12px;\">\n                  Si crees que esta cancelación fue un error, responde a este correo indicando el <strong>ID de Reserva</strong>.\n                </div>\n              </td>\n            </tr>\n\n            <!-- Footer -->\n            <tr>\n              <td style=\"background:#f8fafc;padding:16px;text-align:center;border-top:1px solid #e5e7eb;\">\n                <div style=\"font-family:Arial,Helvetica,sans-serif;color:#64748b;font-size:12px;\">\n                  Sistema de Reservas • Colegios Arzobispado SSMA\n                </div>\n              </td>\n            </tr>\n          </table>\n          <!-- /Card -->\n\n        </td>\n      </tr>\n    </table>\n    <!-- /Wrapper -->\n  </body>\n</html>\n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1424,
        96
      ],
      "id": "688391a0-2292-4111-bd4c-72409616395f",
      "name": "Send a message",
      "webhookId": "a8dc06ca-d026-47f7-ae08-c4f92671dad8",
      "credentials": {
        "gmailOAuth2": {
          "id": "bzB4ErX9aMTdHLlW",
          "name": "Gmail account 5"
        }
      },
      "onError": "continueRegularOutput"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook - Cancelar Reserva": {
      "main": [
        [
          {
            "node": "Validar Datos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Datos": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Eliminar Evento (Google Calendar)": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Eliminar Evento (Google Calendar)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Responder al Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "80315cae-a5ce-414a-86b4-e2357edaf37b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "21c80defdaa188c5343d40860d3b179beff5b31288c22d659793ecc78888c884"
  },
  "id": "c1tTsXjQqUTJJTIr",
  "tags": []
}