Cancelar Reserva.json
{
  "name": "cancela reserva 66",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1d883af8-366a-4124-94d9-cd13e05679b2",
              "name": "",
              "value": "",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -896,
        208
      ],
      "id": "c8c801a3-21de-41cb-862a-f40cd334d9a9",
      "name": "Edit Fields",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "path": "cancelar-reserva",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "f6be0156-a877-41bc-8bc5-620960fbb495",
      "name": "Webhook - Cancelar Reserva1",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -1472,
        160
      ],
      "webhookId": "0ccdecf6-cdc1-4c5d-b62e-1c9d21a6cf23",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "functionCode": "const q = $json.query || {};\nconst accion = (q.accion || '').toLowerCase();\n\nif (accion !== 'cancelar') {\n  return [{ json: { ok: false, reason: 'Acción inválida' } }];\n}\n\nconst email = q.email || '';\nconst eventId = q.eventId || '';\nconst reservationId = q.reservationId || '';\nconst calendarId = q.calendarId || '';\nconst room = q.room || '';\nconst fecha = q.fecha || '';\nconst inicio = q.inicio || '';\nconst fin = q.fin || '';\n\nif (!email) {\n  return [{ json: { ok: false, reason: 'Email requerido' } }];\n}\n\nreturn [{\n  json: {\n    ok: true,\n    email,\n    eventId,\n    reservationId,\n    calendarId,\n    room,\n    fecha,\n    inicio,\n    fin\n  }\n}];"
      },
      "id": "dbbd1ddd-b6bb-4095-9ca1-6ef5dd2aedbd",
      "name": "Validar Datos1",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -1280,
        160
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "={{ $json.ID_Sala }}",
          "mode": "id"
        },
        "eventId": "={{ $json.Event_ID }}",
        "options": {}
      },
      "id": "a26a5c9f-197d-4eb8-aab0-0120b78febf7",
      "name": "Eliminar Evento (Google Calendar)1",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1,
      "position": [
        -896,
        48
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "FaIFt3W4WU84SPzl",
          "name": "Google Calendar account 4"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "be890ded-ede1-4bcb-b396-fd3f2b9416d8",
      "name": "Responder al Webhook1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        128,
        144
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1n66HEZRlQ2SeqWs0UVmgNoBYkN7gZvjlFvJYdpwwDlw",
          "mode": "list",
          "cachedResultName": "Registro Solicitud",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1n66HEZRlQ2SeqWs0UVmgNoBYkN7gZvjlFvJYdpwwDlw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1989465276,
          "mode": "list",
          "cachedResultName": "Respuestas de formulario 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1n66HEZRlQ2SeqWs0UVmgNoBYkN7gZvjlFvJYdpwwDlw/edit#gid=1989465276"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Correo electrónico",
              "lookupValue": "={{ $json.email }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1120,
        160
      ],
      "id": "f7916da0-e5d2-43fb-a0f8-c03d156ac2f7",
      "name": "Get row(s) in sheet1",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "nxge2Jefe4syfRzT",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1n66HEZRlQ2SeqWs0UVmgNoBYkN7gZvjlFvJYdpwwDlw",
          "mode": "list",
          "cachedResultName": "Registro Solicitud",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1n66HEZRlQ2SeqWs0UVmgNoBYkN7gZvjlFvJYdpwwDlw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1989465276,
          "mode": "list",
          "cachedResultName": "Respuestas de formulario 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1n66HEZRlQ2SeqWs0UVmgNoBYkN7gZvjlFvJYdpwwDlw/edit#gid=1989465276"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Nombre": "={{   $json.Nombre }}",
            "Correo electrónico": "={{   $json['Correo electrónico'] }}",
            "Área/Departamento": "={{   $json['Área/Departamento'] }}",
            "Fecha de la reunión": "={{   $json['Fecha de la reunión'] }}",
            "Hora de inicio": "={{   $json['Hora de inicio'] }}",
            "Hora de Termino": "={{   $json['Hora de Termino'] }}",
            "Número de participantes": "={{   $json['Número de participantes'] }}",
            "row_number": 0
          },
          "matchingColumns": [
            "Correo electrónico"
          ],
          "schema": [
            {
              "id": "Marca temporal",
              "displayName": "Marca temporal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Nombre",
              "displayName": "Nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Correo electrónico",
              "displayName": "Correo electrónico",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Área/Departamento",
              "displayName": "Área/Departamento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Fecha de la reunión",
              "displayName": "Fecha de la reunión",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Hora de inicio",
              "displayName": "Hora de inicio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Hora de Termino",
              "displayName": "Hora de Termino",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Número de participantes",
              "displayName": "Número de participantes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ID_Reserva",
              "displayName": "ID_Reserva",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ID_Sala",
              "displayName": "ID_Sala",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Event_ID",
              "displayName": "Event_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Numero de sala",
              "displayName": "Numero de sala",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -480,
        144
      ],
      "id": "9a7c49db-088f-4f47-8595-a5f9379947dd",
      "name": "Update row in sheet2",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "nxge2Jefe4syfRzT",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -688,
        144
      ],
      "id": "d8cc07d7-e8fe-4936-a8b5-e4cd1c8b660d",
      "name": "Merge6",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "sendTo": "={{ $json['Correo electrónico'] }}",
        "subject": "=❌ Reserva cancelada — {{ $json[\"Numero de sala\"] }} || ( {{ $json[\"Fecha de la reunión\"] }})",
        "message": "=<!doctype html> <html lang=\"es\">   <head>     <meta charset=\"utf-8\">     <meta name=\"x-apple-disable-message-reformatting\">     <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">     <title>Reserva cancelada</title>   </head>   <body style=\"margin:0;padding:0;background:#0f172a;\">     <!-- Wrapper -->     <table role=\"presentation\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"100%\" style=\"background:#0f172a;\">       <tr>         <td align=\"center\" style=\"padding:32px 16px;\">                      <!-- Card -->           <table role=\"presentation\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"100%\" style=\"max-width:640px;background:#ffffff;border-radius:16px;overflow:hidden;box-shadow:0 10px 30px rgba(2,6,23,.25);\">             <!-- Header -->             <tr>               <td style=\"background:#ef4444; background-image:linear-gradient(135deg,#ef4444 0%,#b91c1c 100%);padding:28px 28px 24px 28px;\">                 <table role=\"presentation\" width=\"100%\">                   <tr>                     <td style=\"font-family:Arial,Helvetica,sans-serif;color:#fff;font-size:24px;line-height:1.2;font-weight:800;letter-spacing:.2px;\">                       ❌ Reserva cancelada                     </td>                     <td align=\"right\" style=\"white-space:nowrap;\">                       <span style=\"display:inline-block;background:#ffffff22;border:1px solid #ffffff55;color:#fff;font-family:Arial,Helvetica,sans-serif;font-size:12px;font-weight:700;padding:6px 10px;border-radius:999px;text-transform:uppercase;letter-spacing:.6px;\">                         Estado: Cancelada                       </span>                     </td>                   </tr>                 </table>                 <div style=\"font-family:Arial,Helvetica,sans-serif;color:#ffe4e6;font-size:14px;margin-top:4px;\">                   Hola <strong>{{$json[\"Nombre\"] || \"Invitado/a\"}}</strong>, tu reserva se canceló exitosamente.                 </div>               </td>             </tr>              <!-- Body -->             <tr>               <td style=\"padding:24px 24px 8px 24px;\">                 <!-- Summary Bar -->                 <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"border-collapse:separate;border-spacing:0 12px;\">                   <tr>                     <td style=\"background:#f8fafc;border:1px solid #e2e8f0;border-radius:12px;padding:16px;\">                       <table role=\"presentation\" width=\"100%\">                         <tr>                           <td style=\"font-family:Arial,Helvetica,sans-serif;font-size:14px;color:#334155;\">                             <div style=\"font-size:12px;color:#64748b;text-transform:uppercase;letter-spacing:.4px;\">Sala</div>                             <div style=\"font-size:16px;font-weight:700;color:#0f172a;\">{{$json[\"Numero de sala\"] || \"-\"}}</div>                           </td>                           <td style=\"font-family:Arial,Helvetica,sans-serif;font-size:14px;color:#334155;\" align=\"center\">                             <div style=\"font-size:12px;color:#64748b;text-transform:uppercase;letter-spacing:.4px;\">Fecha</div>                             <div style=\"font-size:16px;font-weight:700;color:#0f172a;\">{{$json[\"Fecha de la reunión\"] || \"-\"}}</div>                           </td>                           <td style=\"font-family:Arial,Helvetica,sans-serif;font-size:14px;color:#334155;\" align=\"right\">                             <div style=\"font-size:12px;color:#64748b;text-transform:uppercase;letter-spacing:.4px;\">Horario</div>                             <div style=\"font-size:16px;font-weight:700;color:#0f172a;\">                               {{$json[\"Hora de inicio\"] || \"-\"}} – {{$json[\"Hora de Termino\"] || \"-\"}}                             </div>                           </td>                         </tr>                       </table>                     </td>                   </tr>                 </table>                  <!-- Details Grid -->                 <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin-top:8px;\">                   <!-- row 1 -->                   <tr>                     <td width=\"50%\" valign=\"top\" style=\"padding:8px;\">                       <table role=\"presentation\" width=\"100%\" style=\"background:#ffffff;border:1px solid #e5e7eb;border-radius:12px;\">                         <tr>                           <td style=\"padding:14px 16px;\">                             <div style=\"font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#6b7280;text-transform:uppercase;letter-spacing:.4px;\">Área / Departamento</div>                             <div style=\"font-family:Arial,Helvetica,sans-serif;font-size:15px;color:#111827;font-weight:700;margin-top:4px;\">                               {{$json[\"Área/Departamento\"] || \"-\"}}                             </div>                           </td>                         </tr>                       </table>                     </td>                     <td width=\"50%\" valign=\"top\" style=\"padding:8px;\">                       <table role=\"presentation\" width=\"100%\" style=\"background:#ffffff;border:1px solid #e5e7eb;border-radius:12px;\">                         <tr>                           <td style=\"padding:14px 16px;\">                             <div style=\"font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#6b7280;text-transform:uppercase;letter-spacing:.4px;\">Participantes</div>                             <div style=\"font-family:Arial,Helvetica,sans-serif;font-size:15px;color:#111827;font-weight:700;margin-top:4px;\">                               {{$json[\"Número de participantes\"] || 0}}                             </div>                           </td>                         </tr>                       </table>                     </td>                   </tr>                   <!-- row 2 -->                   <tr>                     <td width=\"50%\" valign=\"top\" style=\"padding:8px;\">                       <table role=\"presentation\" width=\"100%\" style=\"background:#ffffff;border:1px solid #e5e7eb;border-radius:12px;\">                         <tr>                           <td style=\"padding:14px 16px;\">                             <div style=\"font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#6b7280;text-transform:uppercase;letter-spacing:.4px;\">Solicitante</div>                             <div style=\"font-family:Arial,Helvetica,sans-serif;font-size:15px;color:#111827;font-weight:700;margin-top:4px;\">                               {{$json[\"Nombre\"] || \"-\"}}                             </div>                             <div style=\"font-family:Arial,Helvetica,sans-serif;font-size:13px;color:#374151;margin-top:2px;\">                               {{$json[\"Correo electrónico\"] || \"-\"}}                             </div>                           </td>                         </tr>                       </table>                     </td>                     <td width=\"50%\" valign=\"top\" style=\"padding:8px;\">                       <table role=\"presentation\" width=\"100%\" style=\"background:#ffffff;border:1px solid #e5e7eb;border-radius:12px;\">                         <tr>                           <td style=\"padding:14px 16px;\">                             <div style=\"font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#6b7280;text-transform:uppercase;letter-spacing:.4px;\">ID de Reserva</div>                             <div style=\"font-family:Arial,Helvetica,sans-serif;font-size:13px;color:#111827;font-weight:700;margin-top:4px;word-break:break-all;\">                               {{$json[\"ID_Reserva\"] || \"-\"}}                             </div>                           </td>                         </tr>                       </table>                     </td>                   </tr>                 </table>                  <!-- Info Box -->                 <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin-top:16px;\">                   <tr>                     <td style=\"background:#fef2f2;border:1px solid #fecaca;border-radius:12px;padding:14px;\">                       <div style=\"font-family:Arial,Helvetica,sans-serif;color:#991b1b;font-size:14px;\">                         La sala ha sido liberada para otros usuarios. Si necesitas **reagendar**, crea una nueva solicitud desde el sistema.                       </div>                     </td>                   </tr>                 </table>                  <!-- Divider -->                 <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin-top:20px;\">                   <tr>                     <td style=\"border-top:1px dashed #e5e7eb;height:1px;line-height:1px;font-size:0;\">&nbsp;</td>                   </tr>                 </table>                  <!-- Footer text -->                 <div style=\"font-family:Arial,Helvetica,sans-serif;color:#6b7280;font-size:12px;margin-top:12px;\">                   Si crees que esta cancelación fue un error, responde a este correo indicando el <strong>ID de Reserva</strong>.                 </div>               </td>             </tr>              <!-- Footer -->             <tr>               <td style=\"background:#f8fafc;padding:16px;text-align:center;border-top:1px solid #e5e7eb;\">                 <div style=\"font-family:Arial,Helvetica,sans-serif;color:#64748b;font-size:12px;\">                   Sistema de Reservas • Colegios Arzobispado SSMA                 </div>               </td>             </tr>           </table>           <!-- /Card -->          </td>       </tr>     </table>     <!-- /Wrapper -->   </body> </html>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -208,
        160
      ],
      "id": "a1799438-53f3-4b43-ad4d-ffc8ac41ce48",
      "name": "Send a message3",
      "webhookId": "a8dc06ca-d026-47f7-ae08-c4f92671dad8",
      "alwaysOutputData": true,
      "credentials": {
        "gmailOAuth2": {
          "id": "WbrC9RQyEMCFZWAl",
          "name": "Gmail account 2"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "sendTo": "encargadosalas131@gmail.com",
        "subject": "=⚠️ CANCELACIÓN DE RESERVA -  {{ $json['Fecha de la reunión'] }} -  {{ $json['Correo electrónico'] }}",
        "message": "=<!DOCTYPE html>\n<html lang=\"es\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Reserva Cancelada</title>\n    <style>\n        body {\n            font-family: Arial, sans-serif;\n            background-color: #f5f5f5;\n            margin: 0;\n            padding: 20px;\n        }\n        .container {\n            max-width: 600px;\n            margin: 0 auto;\n            background-color: white;\n            border-radius: 8px;\n            overflow: hidden;\n            box-shadow: 0 2px 4px rgba(0,0,0,0.1);\n        }\n        .header {\n            background-color: #dc3545;\n            color: white;\n            padding: 20px;\n            text-align: center;\n        }\n        .header h1 {\n            margin: 0;\n            font-size: 24px;\n        }\n        .header p {\n            margin: 5px 0 0 0;\n            font-size: 14px;\n            opacity: 0.9;\n        }\n        .content {\n            padding: 30px;\n        }\n        .greeting {\n            margin-bottom: 20px;\n            color: #333;\n        }\n        .message {\n            margin-bottom: 20px;\n            color: #666;\n        }\n        .details {\n            background-color: #fff5f5;\n            border-left: 4px solid #dc3545;\n            padding: 20px;\n            margin: 20px 0;\n        }\n        .detail-item {\n            margin: 12px 0;\n            display: flex;\n            align-items: flex-start;\n        }\n        .detail-label {\n            font-weight: bold;\n            min-width: 130px;\n            color: #333;\n        }\n        .detail-value {\n            color: #666;\n        }\n        .detail-value a {\n            color: #0066cc;\n            text-decoration: none;\n        }\n        .actions {\n            background-color: #e8f5e9;\n            border-left: 4px solid #4caf50;\n            padding: 20px;\n            margin: 20px 0;\n        }\n        .actions h3 {\n            margin: 0 0 15px 0;\n            color: #2e7d32;\n            font-size: 16px;\n        }\n        .actions ul {\n            margin: 0;\n            padding-left: 20px;\n        }\n        .actions li {\n            margin: 8px 0;\n            color: #555;\n        }\n        .footer {\n            background-color: #f8f9fa;\n            padding: 15px;\n            text-align: center;\n            color: #666;\n            font-size: 12px;\n            border-top: 1px solid #e0e0e0;\n        }\n    </style>\n</head>\n<body>\n    <div class=\"container\">\n        <div class=\"header\">\n            <h1>⚠️ Reserva Cancelada</h1>\n            <p>Notificación para reorganizar espacios</p>\n        </div>\n        \n        <div class=\"content\">\n            <p class=\"greeting\">Hola <strong>Encargado de Salas</strong>,</p>\n            \n            <p class=\"message\">Se ha <span style=\"color: #dc3545; font-weight: bold;\">cancelado</span> una reserva. Detalles:</p>\n            \n            <div class=\"details\">\n                <div class=\"detail-item\">\n                    <span class=\"detail-label\">📅 Fecha:</span>\n                    <span class=\"detail-value\">{{$json[\"Fecha de la reunión\"] || \"-\"}}</span>\n                </div>\n                \n                <div class=\"detail-item\">\n                    <span class=\"detail-label\">🕐 Horario:</span>\n                    <span class=\"detail-value\">{{$json[\"Hora de inicio\"] || \"-\"}} – {{$json[\"Hora de Termino\"] || \"-\"}}</span>\n                </div>\n                \n                <div class=\"detail-item\">\n                    <span class=\"detail-label\">👤 Solicitante:</span>\n                    <span class=\"detail-value\">\n                        {{$json[\"Nombre\"] || \"-\"}}<br>\n                        <a href=\"mailto:{{$json['Correo electrónico']}}\">{{$json[\"Correo electrónico\"] || \"-\"}}</a>\n                    </span>\n                </div>\n                \n                <div class=\"detail-item\">\n                    <span class=\"detail-label\">🏛️ Área:</span>\n                    <span class=\"detail-value\">{{$json[\"Área/Departamento\"] || \"-\"}}</span>\n                </div>\n                \n                <div class=\"detail-item\">\n                    <span class=\"detail-label\">👥 Participantes:</span>\n                    <span class=\"detail-value\">{{$json[\"Número de participantes\"] || 0}}</span>\n                </div>\n            </div>\n            \n            <div class=\"actions\">\n                <h3>📋 Acciones Requeridas:</h3>\n                <ul>\n                    <li>Verificar disponibilidad de la sala</li>\n                    <li>Reorganizar espacios si es necesario</li>\n                    <li>Actualizar calendario de reservas</li>\n                    <li>La sala ya está disponible para nuevas reservas</li>\n                </ul>\n            </div>\n        </div>\n        \n        <div class=\"footer\">\n            Sistema de gestión de salas - Colegios Arzobispado SSMA\n        </div>\n    </div>\n</body>\n</html>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -80,
        -16
      ],
      "id": "bd035f3a-c6e5-4776-b5ea-f768ce5c405f",
      "name": "Send a message5",
      "webhookId": "811e6883-0478-462c-852c-73ccaa5efe2f",
      "alwaysOutputData": true,
      "credentials": {
        "gmailOAuth2": {
          "id": "WbrC9RQyEMCFZWAl",
          "name": "Gmail account 2"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        128,
        -16
      ],
      "id": "943f852d-174e-49d2-a7be-ba0244bec3bc",
      "name": "Respond to Webhook",
      "alwaysOutputData": true
    }
  ],
  "pinData": {},
  "connections": {
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - Cancelar Reserva1": {
      "main": [
        [
          {
            "node": "Validar Datos1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Datos1": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Eliminar Evento (Google Calendar)1": {
      "main": [
        [
          {
            "node": "Merge6",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Get row(s) in sheet1": {
      "main": [
        [
          {
            "node": "Eliminar Evento (Google Calendar)1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet2": {
      "main": [
        [
          {
            "node": "Send a message3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a message5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge6": {
      "main": [
        [
          {
            "node": "Update row in sheet2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message3": {
      "main": [
        [
          {
            "node": "Responder al Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message5": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "71482da0-f10a-42ee-a1f8-eb933baeb052",
  "meta": {
    "instanceId": "cec2302d0edf1c1fca5c4dd6714c512a076655ddc65094124159e541ee16fc32"
  },
  "id": "COjSJHN4HOnidIiN",
  "tags": []
}
