Cancelar Reserva.json
{
  "name": "Cancelar Reserva",
  "nodes": [
    {
      "parameters": {
        "path": "cancelar-reserva",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "b1035c12-89a2-45d8-8073-837c1250de98",
      "name": "Webhook - Cancelar Reserva",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -576,
        112
      ],
      "webhookId": "0ccdecf6-cdc1-4c5d-b62e-1c9d21a6cf23"
    },
    {
      "parameters": {
        "functionCode": "const q = $json.query || {};\nconst accion = (q.accion || '').toLowerCase();\n\nif (accion !== 'cancelar') {\n  return [{ json: { ok: false, reason: 'Acción inválida' } }];\n}\n\nconst reservationId = q.reservationId || '';\nconst eventId = q.eventId || '';\nconst email = q.email || '';\n\nif (!reservationId) {\n  return [{ json: { ok: false, reason: 'reservationId requerido' } }];\n}\n\nreturn [{\n  json: {\n    ok: true,\n    reservationId,\n    eventId,\n    email\n  }\n}];"
      },
      "id": "ed1d0578-3646-40ff-a63f-807b4fd356e8",
      "name": "Validar Datos",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -384,
        112
      ]
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "={{ $json.ID_Sala }}",
          "mode": "id"
        },
        "eventId": "={{ $json.Event_ID }}",
        "options": {}
      },
      "id": "e836a097-f277-4ed1-bde7-fd097add7cc2",
      "name": "Eliminar Evento (Google Calendar)",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "CXCaPQ09gSVwizfD",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "7c93b063-35b8-4568-ac3b-32a08279debc",
      "name": "Responder al Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1024,
        96
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1n66HEZRlQ2SeqWs0UVmgNoBYkN7gZvjlFvJYdpwwDlw",
          "mode": "list",
          "cachedResultName": "Registro Solicitud",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1n66HEZRlQ2SeqWs0UVmgNoBYkN7gZvjlFvJYdpwwDlw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1534669159,
          "mode": "list",
          "cachedResultName": "Registro",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1n66HEZRlQ2SeqWs0UVmgNoBYkN7gZvjlFvJYdpwwDlw/edit#gid=1534669159"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "ID_Reserva",
              "lookupValue": "={{ $json.reservationId }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -224,
        112
      ],
      "id": "54eb4bb0-644a-49aa-8512-7fbc7e4db085",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YW4UkII7eEBygXxR",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1n66HEZRlQ2SeqWs0UVmgNoBYkN7gZvjlFvJYdpwwDlw",
          "mode": "list",
          "cachedResultName": "Registro Solicitud",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1n66HEZRlQ2SeqWs0UVmgNoBYkN7gZvjlFvJYdpwwDlw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1534669159,
          "mode": "list",
          "cachedResultName": "Registro",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1n66HEZRlQ2SeqWs0UVmgNoBYkN7gZvjlFvJYdpwwDlw/edit#gid=1534669159"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID_Reserva": "={{ $json.ID_Reserva }}",
            "Estado": "Cancelada",
            "Sala asignada": "={{ $json[\"Sala asignada\"] }}",
            "Nombre": "={{ $json.Nombre }}",
            "Correo": "={{ $json.Correo }}",
            "Area/Departamento": "={{ $json[\"Area/Departamento\"] }}",
            "Fecha": "={{ $json.Fecha }}",
            "horaInicio": "={{ $json.horaInicio }}",
            "horaTermino": "={{ $json.horaTermino }}",
            "N° Participantes": "={{ $json[\"N° Participantes\"] }}"
          },
          "matchingColumns": [
            "ID_Reserva"
          ],
          "schema": [
            {
              "id": "Nombre",
              "displayName": "Nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Correo",
              "displayName": "Correo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Area/Departamento",
              "displayName": "Area/Departamento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Fecha",
              "displayName": "Fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "horaInicio",
              "displayName": "horaInicio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "horaTermino",
              "displayName": "horaTermino",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "N° Participantes",
              "displayName": "N° Participantes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ID_Reserva",
              "displayName": "ID_Reserva",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Estado",
              "displayName": "Estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Sala asignada",
              "displayName": "Sala asignada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ID_Sala",
              "displayName": "ID_Sala",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Event_ID",
              "displayName": "Event_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        416,
        96
      ],
      "id": "ebcda4e9-0296-42b1-afaa-dcdf9ba2d23f",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YW4UkII7eEBygXxR",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        160
      ],
      "id": "93981923-9b79-4ccf-b9fe-a5d6625f2c72",
      "name": "Edit Fields"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        208,
        96
      ],
      "id": "d592777c-f30d-4b0d-9cae-220e76e26d5b",
      "name": "Merge"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.Correo }}",
        "subject": "=❌ Reserva cancelada — {{ $json[\"Sala asignada\"] }} || ({{ $json.Fecha }})",
        "message": "=<!doctype html> <html lang=\"es\">   <head>     <meta charset=\"utf-8\">     <meta name=\"x-apple-disable-message-reformatting\">     <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">     <title>Reserva cancelada</title>   </head>   <body style=\"margin:0;padding:0;background:#0f172a;\">     <!-- Wrapper -->     <table role=\"presentation\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"100%\" style=\"background:#0f172a;\">       <tr>         <td align=\"center\" style=\"padding:32px 16px;\">                      <!-- Card -->           <table role=\"presentation\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"100%\" style=\"max-width:640px;background:#ffffff;border-radius:16px;overflow:hidden;box-shadow:0 10px 30px rgba(2,6,23,.25);\">             <!-- Header -->             <tr>               <td style=\"background:#ef4444; background-image:linear-gradient(135deg,#ef4444 0%,#b91c1c 100%);padding:28px 28px 24px 28px;\">                 <table role=\"presentation\" width=\"100%\">                   <tr>                     <td style=\"font-family:Arial,Helvetica,sans-serif;color:#fff;font-size:24px;line-height:1.2;font-weight:800;letter-spacing:.2px;\">                       ❌ Reserva cancelada                     </td>                     <td align=\"right\" style=\"white-space:nowrap;\">                       <span style=\"display:inline-block;background:#ffffff22;border:1px solid #ffffff55;color:#fff;font-family:Arial,Helvetica,sans-serif;font-size:12px;font-weight:700;padding:6px 10px;border-radius:999px;text-transform:uppercase;letter-spacing:.6px;\">                         Estado: Cancelada                       </span>                     </td>                   </tr>                 </table>                 <div style=\"font-family:Arial,Helvetica,sans-serif;color:#ffe4e6;font-size:14px;margin-top:4px;\">                   Hola <strong>{{$json[\"Nombre\"] || \"Invitado/a\"}}</strong>, tu reserva se canceló exitosamente.                 </div>               </td>             </tr>              <!-- Body -->             <tr>               <td style=\"padding:24px 24px 8px 24px;\">                 <!-- Summary Bar -->                 <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"border-collapse:separate;border-spacing:0 12px;\">                   <tr>                     <td style=\"background:#f8fafc;border:1px solid #e2e8f0;border-radius:12px;padding:16px;\">                       <table role=\"presentation\" width=\"100%\">                         <tr>                           <td style=\"font-family:Arial,Helvetica,sans-serif;font-size:14px;color:#334155;\">                             <div style=\"font-size:12px;color:#64748b;text-transform:uppercase;letter-spacing:.4px;\">Sala</div>                             <div style=\"font-size:16px;font-weight:700;color:#0f172a;\">{{$json[\"Sala asignada\"] || \"-\"}}</div>                           </td>                           <td style=\"font-family:Arial,Helvetica,sans-serif;font-size:14px;color:#334155;\" align=\"center\">                             <div style=\"font-size:12px;color:#64748b;text-transform:uppercase;letter-spacing:.4px;\">Fecha</div>                             <div style=\"font-size:16px;font-weight:700;color:#0f172a;\">{{$json[\"Fecha\"] || \"-\"}}</div>                           </td>                           <td style=\"font-family:Arial,Helvetica,sans-serif;font-size:14px;color:#334155;\" align=\"right\">                             <div style=\"font-size:12px;color:#64748b;text-transform:uppercase;letter-spacing:.4px;\">Horario</div>                             <div style=\"font-size:16px;font-weight:700;color:#0f172a;\">                               {{$json[\"horaInicio\"] || \"-\"}} – {{$json[\"horaTermino\"] || \"-\"}}                             </div>                           </td>                         </tr>                       </table>                     </td>                   </tr>                 </table>                  <!-- Details Grid -->                 <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin-top:8px;\">                   <!-- row 1 -->                   <tr>                     <td width=\"50%\" valign=\"top\" style=\"padding:8px;\">                       <table role=\"presentation\" width=\"100%\" style=\"background:#ffffff;border:1px solid #e5e7eb;border-radius:12px;\">                         <tr>                           <td style=\"padding:14px 16px;\">                             <div style=\"font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#6b7280;text-transform:uppercase;letter-spacing:.4px;\">Área / Departamento</div>                             <div style=\"font-family:Arial,Helvetica,sans-serif;font-size:15px;color:#111827;font-weight:700;margin-top:4px;\">                               {{$json[\"Area/Departamento\"] || \"-\"}}                             </div>                           </td>                         </tr>                       </table>                     </td>                     <td width=\"50%\" valign=\"top\" style=\"padding:8px;\">                       <table role=\"presentation\" width=\"100%\" style=\"background:#ffffff;border:1px solid #e5e7eb;border-radius:12px;\">                         <tr>                           <td style=\"padding:14px 16px;\">                             <div style=\"font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#6b7280;text-transform:uppercase;letter-spacing:.4px;\">Participantes</div>                             <div style=\"font-family:Arial,Helvetica,sans-serif;font-size:15px;color:#111827;font-weight:700;margin-top:4px;\">                               {{$json[\"N° Participantes\"] || 0}}                             </div>                           </td>                         </tr>                       </table>                     </td>                   </tr>                   <!-- row 2 -->                   <tr>                     <td width=\"50%\" valign=\"top\" style=\"padding:8px;\">                       <table role=\"presentation\" width=\"100%\" style=\"background:#ffffff;border:1px solid #e5e7eb;border-radius:12px;\">                         <tr>                           <td style=\"padding:14px 16px;\">                             <div style=\"font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#6b7280;text-transform:uppercase;letter-spacing:.4px;\">Solicitante</div>                             <div style=\"font-family:Arial,Helvetica,sans-serif;font-size:15px;color:#111827;font-weight:700;margin-top:4px;\">                               {{$json[\"Nombre\"] || \"-\"}}                             </div>                             <div style=\"font-family:Arial,Helvetica,sans-serif;font-size:13px;color:#374151;margin-top:2px;\">                               {{$json[\"Correo\"] || \"-\"}}                             </div>                           </td>                         </tr>                       </table>                     </td>                     <td width=\"50%\" valign=\"top\" style=\"padding:8px;\">                       <table role=\"presentation\" width=\"100%\" style=\"background:#ffffff;border:1px solid #e5e7eb;border-radius:12px;\">                         <tr>                           <td style=\"padding:14px 16px;\">                             <div style=\"font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#6b7280;text-transform:uppercase;letter-spacing:.4px;\">ID de Reserva</div>                             <div style=\"font-family:Arial,Helvetica,sans-serif;font-size:13px;color:#111827;font-weight:700;margin-top:4px;word-break:break-all;\">                               {{$json[\"ID_Reserva\"] || \"-\"}}                             </div>                           </td>                         </tr>                       </table>                     </td>                   </tr>                 </table>                  <!-- Info Box -->                 <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin-top:16px;\">                   <tr>                     <td style=\"background:#fef2f2;border:1px solid #fecaca;border-radius:12px;padding:14px;\">                       <div style=\"font-family:Arial,Helvetica,sans-serif;color:#991b1b;font-size:14px;\">                         La sala ha sido liberada para otros usuarios. Si necesitas **reagendar**, crea una nueva solicitud desde el sistema.                       </div>                     </td>                   </tr>                 </table>                  <!-- Divider -->                 <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin-top:20px;\">                   <tr>                     <td style=\"border-top:1px dashed #e5e7eb;height:1px;line-height:1px;font-size:0;\">&nbsp;</td>                   </tr>                 </table>                  <!-- Footer text -->                 <div style=\"font-family:Arial,Helvetica,sans-serif;color:#6b7280;font-size:12px;margin-top:12px;\">                   Si crees que esta cancelación fue un error, responde a este correo indicando el <strong>ID de Reserva</strong>.                 </div>               </td>             </tr>              <!-- Footer -->             <tr>               <td style=\"background:#f8fafc;padding:16px;text-align:center;border-top:1px solid #e5e7eb;\">                 <div style=\"font-family:Arial,Helvetica,sans-serif;color:#64748b;font-size:12px;\">                   Sistema de Reservas • Colegios Arzobispado SSMA                 </div>               </td>             </tr>           </table>           <!-- /Card -->          </td>       </tr>     </table>     <!-- /Wrapper -->   </body> </html>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        672,
        96
      ],
      "id": "8303b13e-bb80-42e7-a28e-3412aecd457d",
      "name": "Send a message",
      "webhookId": "a8dc06ca-d026-47f7-ae08-c4f92671dad8",
      "credentials": {
        "gmailOAuth2": {
          "id": "ggN6VexbBbATMvgY",
          "name": "Gmail account"
        }
      },
      "onError": "continueRegularOutput"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook - Cancelar Reserva": {
      "main": [
        [
          {
            "node": "Validar Datos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Datos": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Eliminar Evento (Google Calendar)": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Eliminar Evento (Google Calendar)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Responder al Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "195a47fa-04b4-4e08-8526-774084da8279",
  "meta": {
    "instanceId": "605a3cd9f00bba5091dd8352caa8e8a6f52dbf714d692df2d04e4d5949acc445"
  },
  "id": "F5cpMiFeWgJVIX9p",
  "tags": []
}