NotificacionCancelacionEncargado
{
  "name": "NotificacionCancelacionEncargado",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "notificar-cancelacion-encargado",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "925b74f5-eada-4ed8-96b2-f6f15c63d8a5",
      "name": "Webhook - Cancelación Detectada",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "webhookId": "notif-cancelacion-encargado"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1n66HEZRlQ2SeqWs0UVmgNoBYkN7gZvjlFvJYdpwwDlw",
          "mode": "list",
          "cachedResultName": "Registro Solicitud"
        },
        "sheetName": {
          "__rl": true,
          "value": 1989465276,
          "mode": "list",
          "cachedResultName": "Respuestas de formulario 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1n66HEZRlQ2SeqWs0UVmgNoBYkN7gZvjlFvJYdpwwDlw/edit#gid=1989465276"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "ID_Reserva",
              "lookupValue": "={{ $json.body.reservationId }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        0
      ],
      "id": "6e59cb0d-c266-40ec-9a07-b5797ada27d5",
      "name": "Obtener Datos de Reserva",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "34budN9DeJBjxOOA",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Construir email para el ENCARGADO de la sala\n\nconst reserva = $('Obtener Datos de Reserva').first().json;\n\n// Debug: ver qué columnas trae\nconsole.log('Datos de reserva:', Object.keys(reserva));\n\n// Email del encargado FIJO\nconst emailEncargado = 'encargadosalas131@gmail.com';\nconst nombreEncargado = 'Encargado de Salas';\n\n// Datos de la reserva - nombres EXACTOS de Google Sheets\nconst nombreSala = 'Sala de Reuniones';\nconst fecha = reserva['Fecha de la reunión'] || '-';\nconst horaInicio = reserva['Hora de inicio'] || '-';\nconst horaFin = reserva['Hora de Termino'] || '-';\nconst solicitante = reserva['Nombre'] || '-';\nconst correoSolicitante = reserva['Correo electrónico'] || '-';\nconst area = reserva['Área/Departamento'] || '-';\nconst participantes = reserva['Número de participantes'] || '-';\nconst idReserva = reserva['ID_Reserva'] || '-';\n\n// Asunto del correo\nconst asunto = `⚠️ CANCELACIÓN - ${nombreSala} - ${fecha}`;\n\n// Cuerpo HTML del correo\nconst cuerpoHTML = `\n<!doctype html>\n<html lang=\"es\">\n<head>\n  <meta charset=\"utf-8\">\n  <title>Notificación de Cancelación</title>\n</head>\n<body style=\"margin:0;padding:0;background:#f5f5f5;font-family:Arial,sans-serif;\">\n  <table role=\"presentation\" width=\"100%\" style=\"background:#f5f5f5;padding:40px 20px;\">\n    <tr>\n      <td align=\"center\">\n        <table role=\"presentation\" style=\"max-width:600px;width:100%;background:#ffffff;border-radius:12px;overflow:hidden;box-shadow:0 4px 12px rgba(0,0,0,0.1);\">\n          \n          <tr>\n            <td style=\"background:linear-gradient(135deg,#ef4444 0%,#dc2626 100%);padding:24px;text-align:center;\">\n              <h1 style=\"margin:0;color:#ffffff;font-size:24px;font-weight:700;\">\n                ⚠️ Reserva Cancelada\n              </h1>\n              <p style=\"margin:8px 0 0;color:#fee;font-size:14px;\">\n                Notificación para reorganizar espacios\n              </p>\n            </td>\n          </tr>\n\n          <tr>\n            <td style=\"padding:32px 24px;\">\n              <p style=\"font-size:16px;color:#333;margin:0 0 24px;\">\n                Hola <strong>${nombreEncargado}</strong>,\n              </p>\n              <p style=\"font-size:15px;color:#555;margin:0 0 24px;line-height:1.6;\">\n                Te informamos que se ha <strong style=\"color:#dc2626;\">cancelado</strong> una reserva de la sala bajo tu responsabilidad. \n                A continuación los detalles:\n              </p>\n\n              <table role=\"presentation\" width=\"100%\" style=\"background:#fef2f2;border:1px solid #fecaca;border-radius:8px;margin-bottom:24px;\">\n                <tr>\n                  <td style=\"padding:16px;\">\n                    <table role=\"presentation\" width=\"100%\">\n                      <tr>\n                        <td style=\"padding:8px 0;font-size:14px;color:#666;width:40%;vertical-align:top;\">\n                          <strong>🏢 Sala:</strong>\n                        </td>\n                        <td style=\"padding:8px 0;font-size:14px;color:#111;\">\n                          ${nombreSala}\n                        </td>\n                      </tr>\n                      <tr>\n                        <td style=\"padding:8px 0;font-size:14px;color:#666;vertical-align:top;\">\n                          <strong>📅 Fecha:</strong>\n                        </td>\n                        <td style=\"padding:8px 0;font-size:14px;color:#111;\">\n                          ${fecha}\n                        </td>\n                      </tr>\n                      <tr>\n                        <td style=\"padding:8px 0;font-size:14px;color:#666;vertical-align:top;\">\n                          <strong>🕐 Horario:</strong>\n                        </td>\n                        <td style=\"padding:8px 0;font-size:14px;color:#111;\">\n                          ${horaInicio} - ${horaFin}\n                        </td>\n                      </tr>\n                      <tr>\n                        <td style=\"padding:8px 0;font-size:14px;color:#666;vertical-align:top;\">\n                          <strong>👤 Solicitante:</strong>\n                        </td>\n                        <td style=\"padding:8px 0;font-size:14px;color:#111;\">\n                          ${solicitante}<br>\n                          <span style=\"font-size:13px;color:#666;\">${correoSolicitante}</span>\n                        </td>\n                      </tr>\n                      <tr>\n                        <td style=\"padding:8px 0;font-size:14px;color:#666;vertical-align:top;\">\n                          <strong>🏛️ Área:</strong>\n                        </td>\n                        <td style=\"padding:8px 0;font-size:14px;color:#111;\">\n                          ${area}\n                        </td>\n                      </tr>\n                      <tr>\n                        <td style=\"padding:8px 0;font-size:14px;color:#666;vertical-align:top;\">\n                          <strong>👥 Participantes:</strong>\n                        </td>\n                        <td style=\"padding:8px 0;font-size:14px;color:#111;\">\n                          ${participantes}\n                        </td>\n                      </tr>\n                      <tr>\n                        <td style=\"padding:8px 0;font-size:14px;color:#666;vertical-align:top;\">\n                          <strong>🔖 ID Reserva:</strong>\n                        </td>\n                        <td style=\"padding:8px 0;font-size:12px;color:#888;font-family:monospace;\">\n                          ${idReserva}\n                        </td>\n                      </tr>\n                    </table>\n                  </td>\n                </tr>\n              </table>\n\n              <div style=\"background:#f0fdf4;border-left:4px solid #22c55e;padding:16px;margin-bottom:24px;\">\n                <h3 style=\"margin:0 0 12px;font-size:16px;color:#15803d;\">\n                  📋 Acciones Requeridas:\n                </h3>\n                <ul style=\"margin:0;padding-left:20px;color:#166534;font-size:14px;line-height:1.8;\">\n                  <li>Verificar disponibilidad de la sala</li>\n                  <li>Reorganizar espacios si es necesario</li>\n                  <li>Actualizar calendario de reservas</li>\n                  <li>La sala ya está disponible para nuevas reservas</li>\n                </ul>\n              </div>\n\n              <p style=\"font-size:13px;color:#888;margin:0;\">\n                Este es un correo automático del sistema de gestión de salas.<br>\n                Si tienes dudas, responde a este correo.\n              </p>\n            </td>\n          </tr>\n\n          <tr>\n            <td style=\"background:#f9fafb;padding:16px;text-align:center;border-top:1px solid #e5e7eb;\">\n              <p style=\"margin:0;font-size:12px;color:#6b7280;\">\n                Sistema de Reservas • Colegios Arzobispado SSMA\n              </p>\n            </td>\n          </tr>\n\n        </table>\n      </td>\n    </tr>\n  </table>\n</body>\n</html>\n`;\n\nreturn [{\n  json: {\n    to: emailEncargado,\n    subject: asunto,\n    htmlBody: cuerpoHTML,\n    // Para debug:\n    nombreEncargado,\n    nombreSala,\n    fecha,\n    idReserva\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        608,
        0
      ],
      "id": "603584d7-68eb-43e2-a436-7d666478c374",
      "name": "Preparar Email Encargado",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "sendTo": "={{ $json.to }}",
        "subject": "={{ $json.subject }}",
        "message": "={{ $json.htmlBody }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        816,
        0
      ],
      "id": "d3f9a69a-9401-4b88-85d1-84dc4eacb8f9",
      "name": "Enviar Email a Encargado",
      "webhookId": "email-notif-cancelacion",
      "credentials": {
        "gmailOAuth2": {
          "id": "4dg8XxfS4VnD9AxH",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "cacdda6d-4b21-41b0-8170-9308bd214ca5",
      "name": "Responder al Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1008,
        0
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook - Cancelación Detectada": {
      "main": [
        [
          {
            "node": "Obtener Datos de Reserva",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Datos de Reserva": {
      "main": [
        [
          {
            "node": "Preparar Email Encargado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Email Encargado": {
      "main": [
        [
          {
            "node": "Enviar Email a Encargado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Email a Encargado": {
      "main": [
        [
          {
            "node": "Responder al Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "14ab78ff-5c2a-4f5e-ac94-72a9d582ff24",
  "meta": {
    "instanceId": "a1bf6c00931cbc5747bd6ebeacf79c70989884e61a83e8738f8589c81407c995"
  },
  "id": "7WuehHUqzbl2HKNp",
  "tags": [
    {
      "updatedAt": "2025-11-10T22:14:30.795Z",
      "createdAt": "2025-11-10T22:14:30.795Z",
      "id": "gdVKAG3FAJVzAHiy",
      "name": "Reservas"
    },
    {
      "updatedAt": "2025-11-10T22:14:30.770Z",
      "createdAt": "2025-11-10T22:14:30.770Z",
      "id": "wwVGm3zz0pjuEfPu",
      "name": "Notificaciones"
    }
  ]
}
