ResumenRevervasEncargado
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 20 * * *"
            }
          ]
        }
      },
      "id": "92c5867e-7848-4f41-a648-a8b77f9705ba",
      "name": "Schedule - Resumen Diario 20:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1440,
        176
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// MODO DEBUG: Fecha fija para probar el flujo\n// Cambiar a '09/12/2025' cuando haya datos reales para mañana\nconst fechaManana = '17/12/2025'; // <-- FECHA DE PRUEBA (ajustada a formato DD/MM/YYYY)\n\n// CÓDIGO ORIGINAL (descomentar para producción):\n// const hoy = new Date();\n// hoy.setHours(hoy.getHours() - 3);\n// const manana = new Date(hoy);\n// manana.setDate(manana.getDate() + 1);\n// const dia = String(manana.getDate()).padStart(2, '0');\n// const mes = String(manana.getMonth() + 1).padStart(2, '0');\n// const anio = manana.getFullYear();\n// const fechaManana = `${dia}/${mes}/${anio}`;\n\nreturn [{\n  json: {\n    fechaManana,\n    fechaBusqueda: fechaManana,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "3a8db817-7294-4d25-aa95-9189ec2964a6",
      "name": "Calcular Fecha Día Siguiente",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1200,
        176
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1n66HEZRlQ2SeqWs0UVmgNoBYkN7gZvjlFvJYdpwwDlw",
          "mode": "list",
          "cachedResultName": "Registro Solicitud",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1n66HEZRlQ2SeqWs0UVmgNoBYkN7gZvjlFvJYdpwwDlw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1534669159,
          "mode": "list",
          "cachedResultName": "Registro",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1n66HEZRlQ2SeqWs0UVmgNoBYkN7gZvjlFvJYdpwwDlw/edit#gid=1534669159"
        },
        "filtersUI": {
          "values": []
        },
        "options": {}
      },
      "id": "b42a4827-4360-4952-bc30-eabcc65369db",
      "name": "Obtener Reservas del Día Siguiente",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1008,
        176
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "86xkjbScXe93U4gm",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Filtrar reservas por fecha y estado\nconst items = $input.all();\nconst fechaBuscada = $('Calcular Fecha Día Siguiente').first().json.fechaBusqueda;\n\nconsole.log('=== DEBUG FILTRO ===');\nconsole.log('Total items recibidos:', items.length);\nconsole.log('Fecha buscada:', fechaBuscada);\n\nif (!items || items.length === 0) {\n  console.log('No hay items para filtrar');\n  return [];\n}\n\n// Mostrar las primeras 3 fechas para debug\nitems.slice(0, 3).forEach((item, i) => {\n  console.log(`Item ${i+1} - Fecha: \"${item.json.Fecha}\" - Estado: \"${item.json.Estado}\"`);\n});\n\nconst reservasFiltradas = items.filter(item => {\n  const fecha = item.json.Fecha || '';\n  const estado = item.json.Estado || item.json.estado || '';\n  const estadoNormalizado = estado.toLowerCase().trim();\n  \n  const fechaCoincide = fecha === fechaBuscada || fecha === fechaBuscada.replace(/\\//g, '-');\n  const estadoValido = estadoNormalizado === 'confirmada' || \n                       estadoNormalizado === 'asignada' || \n                       estadoNormalizado === 'confirmado' || \n                       estadoNormalizado === 'asignado';\n  \n  return fechaCoincide && estadoValido;\n});\n\nconsole.log('Reservas filtradas:', reservasFiltradas.length);\n\nreturn reservasFiltradas;"
      },
      "id": "fc0db11f-580c-43cb-9188-addba86d30ac",
      "name": "Filtrar Solo Confirmadas/Asignadas",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -848,
        176
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "hay-reservas-check",
              "leftValue": "={{ $input.all().length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e70e40d7-9f30-4df7-946d-85474e8a49f5",
      "name": "IF - Verificar Hay Reservas",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -720,
        176
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Generar HTML consolidado con todas las reservas del día siguiente\nconst reservas = $input.all();\nconst fechaManana = reservas[0]?.json?.Fecha || 'Día siguiente';\n\n// Agrupar por sala para mejor organización\nconst reservasPorSala = {};\nreservas.forEach(item => {\n  const sala = item.json['Sala asignada'] || 'Sin asignar';\n  if (!reservasPorSala[sala]) {\n    reservasPorSala[sala] = [];\n  }\n  reservasPorSala[sala].push(item.json);\n});\n\n// Generar filas de tabla HTML\nlet filasHTML = '';\nlet contador = 1;\n\nObject.keys(reservasPorSala).sort().forEach(sala => {\n  reservasPorSala[sala].forEach(reserva => {\n    const requerimientos = reserva.Descripcion || reserva.descripcion || reserva['Requerimientos especiales'] || 'Ninguno';\n    \n    filasHTML += `\n      <tr style=\"${contador % 2 === 0 ? 'background-color: #f8f9fa;' : ''}\">\n        <td style=\"padding: 12px; border: 1px solid #dee2e6; text-align: center; font-weight: 600;\">${contador}</td>\n        <td style=\"padding: 12px; border: 1px solid #dee2e6;\"><strong>${sala}</strong></td>\n        <td style=\"padding: 12px; border: 1px solid #dee2e6; text-align: center;\">${reserva.horaInicio || '-'}</td>\n        <td style=\"padding: 12px; border: 1px solid #dee2e6; text-align: center;\">${reserva.horaTermino || '-'}</td>\n        <td style=\"padding: 12px; border: 1px solid #dee2e6;\">\n          <strong>${reserva.Nombre || 'N/A'}</strong><br>\n          <small style=\"color: #6c757d;\">${reserva.Correo || ''}</small><br>\n          <small style=\"color: #495057;\">${reserva.Area || ''}</small>\n        </td>\n        <td style=\"padding: 12px; border: 1px solid #dee2e6; text-align: center;\">${reserva['N° Participantes'] || 0}</td>\n        <td style=\"padding: 12px; border: 1px solid #dee2e6;\"><small>${requerimientos}</small></td>\n        <td style=\"padding: 12px; border: 1px solid #dee2e6; text-align: center;\"><code style=\"background: #e9ecef; padding: 2px 6px; border-radius: 3px; font-size: 11px;\">${reserva.ID_Reserva || '-'}</code></td>\n      </tr>\n    `;\n    contador++;\n  });\n});\n\nconst totalReservas = reservas.length;\nconst salasUnicas = Object.keys(reservasPorSala).length;\n\n// HTML del correo\nconst htmlCorreo = `\n<!DOCTYPE html>\n<html lang=\"es\">\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <title>Resumen Diario de Reservas</title>\n  <style>\n    body {\n      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;\n      line-height: 1.6;\n      color: #333;\n      background-color: #f4f4f4;\n      margin: 0;\n      padding: 0;\n    }\n    .container {\n      width: 100%;\n      max-width: 900px;\n      margin: 20px auto;\n      background: #ffffff;\n      border-radius: 8px;\n      overflow: hidden;\n      box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);\n    }\n    .header {\n      background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);\n      color: #ffffff;\n      padding: 30px;\n      text-align: center;\n    }\n    .header h1 {\n      margin: 0;\n      font-size: 28px;\n      font-weight: 600;\n    }\n    .header p {\n      margin: 10px 0 0 0;\n      font-size: 16px;\n      opacity: 0.95;\n    }\n    .summary-cards {\n      display: flex;\n      padding: 20px 30px;\n      gap: 20px;\n      background: #f8f9fa;\n      border-bottom: 2px solid #e9ecef;\n    }\n    .summary-card {\n      flex: 1;\n      background: white;\n      padding: 20px;\n      border-radius: 8px;\n      text-align: center;\n      box-shadow: 0 2px 4px rgba(0,0,0,0.05);\n    }\n    .summary-card .number {\n      font-size: 36px;\n      font-weight: bold;\n      color: #667eea;\n      margin: 0;\n    }\n    .summary-card .label {\n      font-size: 14px;\n      color: #6c757d;\n      margin-top: 5px;\n    }\n    .content {\n      padding: 30px;\n    }\n    .content h2 {\n      color: #495057;\n      font-size: 20px;\n      margin-top: 0;\n      margin-bottom: 20px;\n      border-bottom: 2px solid #667eea;\n      padding-bottom: 10px;\n    }\n    table {\n      width: 100%;\n      border-collapse: collapse;\n      margin-bottom: 20px;\n      font-size: 14px;\n    }\n    th {\n      background-color: #667eea;\n      color: white;\n      padding: 12px;\n      text-align: left;\n      font-weight: 600;\n      border: 1px solid #5568d3;\n    }\n    td {\n      padding: 12px;\n      border: 1px solid #dee2e6;\n    }\n    .footer {\n      background-color: #f8f9fa;\n      color: #6c757d;\n      text-align: center;\n      padding: 20px;\n      font-size: 13px;\n      border-top: 1px solid #dee2e6;\n    }\n    .alert {\n      background: #fff3cd;\n      border-left: 4px solid #ffc107;\n      padding: 15px;\n      margin: 20px 0;\n      border-radius: 4px;\n    }\n    .alert-icon {\n      font-size: 20px;\n      margin-right: 10px;\n    }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"header\">\n      <h1>📅 Resumen Diario de Reservas</h1>\n      <p>Reservas confirmadas para: <strong>${fechaManana}</strong></p>\n    </div>\n\n    <div class=\"summary-cards\">\n      <div class=\"summary-card\">\n        <div class=\"number\">${totalReservas}</div>\n        <div class=\"label\">Total Reservas</div>\n      </div>\n      <div class=\"summary-card\">\n        <div class=\"number\">${salasUnicas}</div>\n        <div class=\"label\">Salas en Uso</div>\n      </div>\n    </div>\n\n    <div class=\"content\">\n      <h2>📋 Detalle de Reservas</h2>\n      \n      <div class=\"alert\">\n        <span class=\"alert-icon\">⚠️</span>\n        <strong>Recordatorio:</strong> Por favor, verifique que todas las salas estén preparadas según los requerimientos especiales indicados.\n      </div>\n\n      <table>\n        <thead>\n          <tr>\n            <th style=\"width: 40px;\">#</th>\n            <th>Sala</th>\n            <th style=\"width: 80px;\">Inicio</th>\n            <th style=\"width: 80px;\">Fin</th>\n            <th>Solicitante / Área</th>\n            <th style=\"width: 60px;\">Part.</th>\n            <th>Requerimientos</th>\n            <th style=\"width: 120px;\">ID Reserva</th>\n          </tr>\n        </thead>\n        <tbody>\n          ${filasHTML}\n        </tbody>\n      </table>\n\n      <p style=\"color: #6c757d; font-size: 13px; margin-top: 20px;\">\n        💡 <strong>Nota:</strong> Este correo se envía automáticamente todos los días a las 20:00 hrs con las reservas del día siguiente.\n      </p>\n    </div>\n\n    <div class=\"footer\">\n      <p style=\"margin: 0;\">Sistema Automatizado de Gestión de Salas</p>\n      <p style=\"margin: 5px 0 0 0;\">© ${new Date().getFullYear()} - Colegios Arzobispado SSMA</p>\n    </div>\n  </div>\n</body>\n</html>\n`;\n\nreturn [{\n  json: {\n    htmlCorreo,\n    totalReservas,\n    salasUnicas,\n    fechaManana,\n    reservas: reservas.map(r => r.json)\n  }\n}];"
      },
      "id": "394e5db3-19be-455e-8602-796a671fceee",
      "name": "Generar HTML Resumen Consolidado",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -480,
        96
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "sendTo": "encargadosalas131@gmail.com",
        "subject": "=📅 Resumen de Reservas para {{ $json.fechaManana }} - {{ $json.totalReservas }} reserva(s) confirmada(s)",
        "message": "={{ $json.htmlCorreo }}",
        "options": {}
      },
      "id": "e27100e9-7176-428a-b5d2-ec22723bd818",
      "name": "Enviar Correo Resumen Diario",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -224,
        80
      ],
      "webhookId": "157fc702-4d30-4bc4-8e65-f73a6cb776fc",
      "alwaysOutputData": true,
      "credentials": {
        "gmailOAuth2": {
          "id": "EnfiD7v3GBzoIX7C",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Log cuando no hay reservas\nconst fechaManana = $('Calcular Fecha Día Siguiente').first().json.fechaManana;\n\nreturn [{\n  json: {\n    mensaje: `No hay reservas confirmadas para ${fechaManana}`,\n    fecha: fechaManana,\n    timestamp: new Date().toISOString(),\n    enviarCorreo: false\n  }\n}];"
      },
      "id": "5e52db89-84a5-4da4-b6d1-819d9c27787b",
      "name": "Log - Sin Reservas",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -480,
        256
      ],
      "alwaysOutputData": true
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule - Resumen Diario 20:00": {
      "main": [
        [
          {
            "node": "Calcular Fecha Día Siguiente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calcular Fecha Día Siguiente": {
      "main": [
        [
          {
            "node": "Obtener Reservas del Día Siguiente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Reservas del Día Siguiente": {
      "main": [
        [
          {
            "node": "Filtrar Solo Confirmadas/Asignadas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar Solo Confirmadas/Asignadas": {
      "main": [
        [
          {
            "node": "IF - Verificar Hay Reservas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Verificar Hay Reservas": {
      "main": [
        [
          {
            "node": "Generar HTML Resumen Consolidado",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log - Sin Reservas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generar HTML Resumen Consolidado": {
      "main": [
        [
          {
            "node": "Enviar Correo Resumen Diario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "795494fd-a3b8-4f1e-b587-2684e0ee26ec",
  "meta": {
    "instanceId": "2574a06fe6007e6eb13ddc542eab2327f38a17c4408e5eaa15ddae5a02064907"
  },
  "id": "mVz0htuqaaggHekd",
  "tags": []
}
